<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40764236173-c56mvsahjfj5oftc78j5v0lviqhi49ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40764236173-c56mvsahjfj5oftc78j5v0lviqhi49ie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40764236173-5pvmbd98ufa0c4cooudea5pan896i37g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGefkChzpzzYDO5k-mSxb4OKHiwvdxWP0</string>
	<key>GCM_SENDER_ID</key>
	<string>40764236173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xpass.app</string>
	<key>PROJECT_ID</key>
	<string>xpass-rork-1e6ad</string>
	<key>STORAGE_BUCKET</key>
	<string>xpass-rork-1e6ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40764236173:ios:c535acd0c07d7e1dde1dc4</string>
</dict>
</plist>
